@{
    ViewData["Title"] = "My Akademi";
}

<div class="text-center">
    <h1 class="display-6">Welcome My Akademi</h1>
    

   <a class="btn btn-outline-success" asp-controller="Course" asp-action="Apply">Apply</a>
</div>
